*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-family: monospace;
}

picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

textarea {
  resize: none;
}

textarea, input {
  font-family: monospace;
  padding: 5px;
}

.header {
  display: flex;
  margin: auto;
  max-width: 800px;
  justify-content: space-between;
  border: 1px solid #a6a6a6;
}

.profile {
  display: flex;
  gap: 5px;
}

.user {
  color: #333;
}

.urls {
  display: flex;
  gap: 10px;
}

.image {
  width: 32px;
  height: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 800px;
  background-color: white;
  color: #333;
  gap: 10px;
}

.general-form {
  display: flex;
  max-width: 300px;
  margin: auto;
  flex-direction: column;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 5;
  border: 1px solid #a6a6a6;
  padding: 5px;
}

.sender {
  color: #666666;
  font-size: 0.8rem;
}

.pagination {
  display: flex;
  margin: 10px auto 10px auto;
  gap: 5px;
}

.pagination button {
  padding: 0 3px 0 3px;
  /* border: 1px solid #ccc; */
  /* background: #f9f9f9; */
  outline:none;
  cursor: pointer;
}

.pagination button:hover {
  background: #e0e0e0;
  border: 1px solid #a1a1a1;
}

.pagination button.active {
  background: #007bff;
  color: white;
  border-color: #007bff;
}


/* modal */

.modal {
  display: none;
  position: fixed;             
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 5px;
  min-width: 400px;
}

.close {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.openModalBtn {
  display: block;
  margin: 10px 0 0 auto;
}

.hint {
  color: #8c8c8c;
  margin: 0 0 10px 0;
}

.error {
  color: red;
}

.register {
  color: blue;
  margin: 10px 0 0 0;
  text-decoration: underline;
}
